/.idea/artifacts/*.xml
/.idea/*.xml
/.idea/copyright/*.xml
/.idea/*.html
/.idea/inspectionProfiles/*.xml
/*.iml
/out/production/SerialReborn/DB/*.class
/out/production/SerialReborn/GUI/addSerialWindow/*.fxml
/out/production/SerialReborn/GUI/addSerialWindow/*.class
/out/production/SerialReborn/GUI/mainWindow/*.fxml
/out/production/SerialReborn/GUI/mainWindow/*.class
/out/production/SerialReborn/GUI/optionsWindow/*.fxml
/out/production/SerialReborn/GUI/optionsWindow/*.class
/out/production/SerialReborn/GUI/settingsSerialWindow/*.fxml
/out/production/SerialReborn/GUI/settingsSerialWindow/*.class
/out/production/SerialReborn/META-INF/*.MF
/out/production/SerialReborn/allMethodsDВ/*.class
/out/production/SerialReborn/classes/*.class
/out/production/SerialReborn/images/*.ico
/out/production/SerialReborn/images/*.png
/out/production/SerialReborn/*.css
/release/*.rar
/release/SerialReborn_0.1a/*.ico
/release/SerialReborn_0.1a/*.png
/release/SerialReborn_0.1a/*.jar
/release/SerialReborn_0.1a/*.db
/release/SerialReborn_0.2.1/*.ico
/release/SerialReborn_0.2.1/*.png
/release/SerialReborn_0.2.1/*.jar
/release/SerialReborn_0.2.1/*.db
/release/SerialReborn_0.2a/*.ico
/release/SerialReborn_0.2a/*.png
/release/SerialReborn_0.2a/*.jar
/release/SerialReborn_0.2a/*.db
